<div class="editor">
    <div class="outline">
        <div class="outline-header"></div>
        <div class="outline-scroll" >
            <div class="outline-items"></div>
        </div>
    </div>
    <div class="timeline"></div>
    <div class="editor-property">
        <div class="update-error"></div>
        <textarea></textarea>
    </div>
</div>
